@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-img {
  background-image: url('./images/bg-pattern-intro-mobile.svg');
  background-size: 340vw;
  background-position-x: 35%;
  background-position-y: 33%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 30%;
}

#slate {
  background-color: #334155;
  border-bottom-left-radius: 140px;
  border-top-right-radius: 140px;
}

#circle {
  background-image: url('./images/bg-pattern-circles.svg');
  background-size: 157vw;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -295px;
  border-top-right-radius: 140px;
}

#footer-section {
  background-color: #334155;
  border-top-right-radius: 90px;
}
