@tailwind base;
@tailwind components;
@tailwind utilities;

#bg-img {
  background-image: url('./images/bg-pattern-intro-mobile.svg');
  background-size: 340vw;
  background-position-x: 35%;
  background-position-y: 33%;
  background-repeat: no-repeat;
  border-bottom-left-radius: 20%;
}